@font-face {
    font-family: "Unifont";
    src: url(/assets/font/unifont-15.1.05.otf) format("opentype");
}

*, html {
    /* cursor: url(assets/runescape-sword.png), auto; */
    cursor: url(/assets/cursor.png), auto; 
    font-family: "Unifont", "Terminus";
    font-size: 16pt;
    background-color: #000000;
    color: #dddddd;
    text-align: left;
}

.root {
    padding: 1em;
    width: 520px;
    margin-left: 26px;
}

h1 {
    font-size: 28pt;
    margin-bottom: 0;
    font-weight: bold;
}

h2 {
    font-size: 24pt;
    margin-bottom: 0;
    font-weight: bold;
}

h3 {
    font-size: 20pt;
    margin-bottom: 0;
    font-weight: bold;
}

pre {
    color: #00ffaa;
    font-family: "Unifont", "Terminus";
}

mark {
    color: #00ffaa;
}

a {
    color: #6effcf;
}